html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

@import '@/assets/lib/bootstrap/bootstrap.css';
@import './css/color.css';
@import './css/font.css';
@import './css/style.css';